body {
    font-family: Mulish, sans-serif;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.social-icon {
    margin: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}