{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row col-md-12">
        <div class="col-md-6">
            <h4>Classes Booked</h4>
        </div>
        <div class="col-md-6">
            <h4>Personal Details</h4>
            <form method="post">
                {% csrf_token %}
                {{ form.first_name|as_crispy_field }}
                {{ form.last_name|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                {{ form.phone|as_crispy_field }}
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}