
{% extends "base.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="container">
    <div class="row col-md-12">
        <div class="col-md-6">
            <h4 class="text-center">Classes Booked</h4>
            {% for booking in booked_classes %}
              <li>{{ booking.booked_class }} - {{ booking.class_date }} - {{ booking.class_time }}</li>
            {% endfor %}
        </div>
        <div class="col-md-6">
          <h4 class="text-center">Personal Details</h4>
          <!-- Display user's details -->
          <div class="container">
              <div class="col-md-6">
                  <p><strong>First Name:</strong> {{ user_profile.member.first_name }}</p>
                  <p><strong>Last Name:</strong> {{ user_profile.member.last_name }}</p>
                  <p><strong>Email:</strong> {{ user_profile.member.email }}</p>
                  <p><strong>Phone:</strong> {{ user_profile.phone }}</p>
              </div>
          </div>
          <!-- Edit modal button -->
          <div class="container">
              <div class="col-md-6">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProfileModal">
                      Edit Profile
                  </button>
              </div>
          </div>
      </div>
    </div>
</div>


<!-- Edit Profile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog"   aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Include the edit form -->
          {% include 'member/edit_personal_details.html' %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
