{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center mb-4">About Soul Base Pilates</h1>
            <p>Hello everyone!
                I am so thankful to be hosting classes at Studio IV and looking forward to all the
                wonderful possibilities for my class program, Soul Base. This is the start of a journey I
                have dreamed, plotted, and schemed in my mind for many years, and I’m so excited to
                be able to share this fresh beginning with all of you (people who value a healthy
                lifestyle).
                My background is in professional dance and performance. I have a B.A in Dance
                from Loyola Marymount University (Los Angeles), studied at the Ailey School in New
                York City, and traveled with Holland America Cruise Line as a performer in their
                production shows as well as an instructor for ABC’s Dancing with the Stars at Sea. I
                have danced commercially as well as in the company context and have always been
                passionate about keeping a high level of technical training behind it all. That is an
                aspect of my dance career I will never let go of.
                I received my certification in Stott Pilates and that has been a great asset to my
                own strength maintenance as well as the clients I have worked with. This is a big part of
                “Step One” in my plan for Soul Base. This idea of strength and alignment will be the
                foundation of how the program grows, and we will build on it. There are many different
                class styles and resources I’d like to offer for whoever is interested (more to come on
                that) and this is the very first steppingstone.
                Now, an important note about Mat Pilates: It is for ANYONE. As you will see in the class
                descriptions, there are two levels. One is more basic, for stabilization and learning the
                exercises, and the other will move beyond the basics into faster-paced movement
                through the whole system. You can pair them up or take just one level consistently-
                whatever is best for you! Here are some benefits of these classes:
                 Increased stability and core strength
                 Improved alignment and posture
                 Increased flexibility
                 Improved coordination and balance
                 Helps to prevent injury and increase body awareness
                Words cannot express how excited I am for you to join me for Soul Base classes. We
                are going to be using _____ for all booking, communication and payment. Please scan
                the QR code below to create a user account and sign up for sessions!</p>
        </div>
        
    </div>
</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <img src="{% static 'images/studiopic.png' %}" alt="Photo of Pilates Studio" class="img-fluid">
        </div>
    </div>
</div>

{% endblock %}